@media (max-width: 979px) {

    #banner {
        height:auto;
    }
    .banner_top {
        margin-left: -240px;

    }
    .banner_headline {
        padding-top: 70px; 
        width: 100%;   
    }
    .banner_headline h1 {
        font-size: 38px;
    }
    .banner_headline h2 {
        font-size: 17.5px;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }

    .section-projeto--fotoarea .img_box {
        width: 100%;
    }

    .widget_title_bar {
        margin-left: 15px;
    }

    .widget_title_text {
        width: 100%;
        padding-left: 15px;
    }
    .news_posted_at {
        margin-left: 20px;
    }
    .widget_title {
        width: 96%;
    }
    .first {
        margin-left: -25px;
    }
    .widget_body {
        width: 96%;
    }
    
    .widget_aside {
       margin-bottom: -200px;
    }
    .aside_video {
        padding-left: 20px;
    }
    
    div .widget {
        width: 100%;
    }
    article {
        margin-left: -30px;
        width: 98%;
    }
    video {
        width: 100%;
    }
    .news_thumbmail {
        width: 100%;
        padding-left: 25px;
    }
    .news_title {
        padding-left: 20px;
    }
    .news_resume {
        padding-left: 20px;
    }
    .article_video {
        width: 96%;
    }
    video {
        padding-left: 28px;
    }
    #geral {
        width: 100%;
    }
    #geral section {
        padding-left: 20px;
        paddin-right: 0px;
    }
    #geral aside {
        padding-top: 20px;
        padding-bottom: 860px;
    }
   .video { 
        margin-left:-20px;
   }
   .video_bar {
        margin-left: -5px;
   }
    .footer_menu {
        display: flex;
        flex-direction: row;
    }
   
    .aside_malwares {
        display: none;
    }
    .footer_area {
        width:100%;
        padding: 0px;
    }
    .footer_copy {
        width: 100%;

    }
    .footer_areaitem_description {
        padding-right: 10px;
    }
    .sobre_equipe {
        margin-left: -5px;
    }
    .sobre_equipe_title {
        margin-left: -25px;
    }
    .sobre_equipe_bar {
        margin-left: -10px;
    }

    .end {
        margin-left: -8px;
    }
    .end_bar {
        margin-left: 6px;
    }

    .addres {
        margin-left: -20px;
    }
    .credit {
        margin-left: -20px;
    }
    .credit_bar {
        margin-left: -4px;
    }
    .credits {
        font-size: 10px;
        margin-left: 5px;
    }

    header .container {
        flex-direction: row;
    }
    
    header {
        height: auto;
    }
    

    aside {
        width: 100%;
        margin-top: -50px;
    }
    .aside_container {
        flex-wrap: nowrap;
    }
    .aside_container div {
        width: 95%;
        height: 230px;
    }
    
    .aside_malwares {

    }
   
    .banner_headline{
        display: inline-flex;
        justify-content: center;
        padding-left: 250px;
    }
   
    
   
       
}