@media (max-width: 979px) {

    .geral {
        width: 90%;
    }
    .video {
        padding: 25px 0px 50px 0px;
    }
    iframe {
        height: 250px;
    }
    .img_malware {
        width: 100%;
    }

}