@media (max-width: 979px) {

   

    #banner {
        height:auto;
    }
    .banner_top {
        margin-left: -240px;

    }
    .banner_headline {
        padding-top: 70px; 
        width: 100%;   
    }
    .banner_headline h1 {
        font-size: 38px;
    }
    .banner_headline h2 {
        font-size: 17.5px;
    }
    .banner_options {
        height: auto;
        flex-direction: column;
    }
    .container {
        flex-direction: column;
    }
    
    .section-projeto--fotoarea .img_box {
        width: 100%;
    }

    #geral section {
        padding: 20px;
    }
    #geral aside {
        padding: 20px;
    }
    .footer_menu {
        display: flex;
        flex-direction: row;
    }
   
    .footer_area {
        width:100%;
        padding: 0px;
    }
    .footer_copy {
        width: 100%;

    }
    .footer_areaitem_description {
        padding-right: 10px;
    }
    header .container {
        flex-direction: row;
    }
    
    header {
        height: auto;
    }
    

    aside {
        width: 100%;
        margin-top: -70px;
        margin-left: 0px;
    }
    .aside_container {
        flex-wrap: nowrap;
    }
    .aside_container div {
        width: 95%;
        height: 230px;
    }
    .aside_malwares {
        margin-top: 660px;
    }
    .banner_headline{
        display: inline-flex;
        justify-content: center;
        padding-left: 250px;
    }
    .credits {
        font-size: 10px;
    }
    
   
       
}